/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 40px;
    float: right;
    right: 5.5%;
    left: 96%;
    max-width: 40px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}
