.img-fluid {
    width: 100%;
    height: 650px;
}
.container img{
                          -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
                          -moz-transform:scale(0.8); /*Mozilla scale version*/
                          -o-transform:scale(0.8); /*Opera scale version*/
                          -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
                          -moz-transition-duration: 0.5s; /*Mozilla duration version*/
                          -o-transition-duration: 0.5s; /*Opera duration version*/
                          opacity: 0.7; /*initial opacity of image*/
                          margin: 0 10px 5px 0; /*margin between image*/
                      }
.hovergallery img:hover{
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}
.snip1325 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 255px;
    max-width: 315px;
    height: 220px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1325 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.snip1325:hover img,
.snip1325.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}
